<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lease Extractor with OCR</title>
</head>
<body style ="background-color: lightgreen">
    <header> <h1>Lease Parser</h1>
              <hr/><!-- lines -->

    </header>

    <main>
        <h4>Drive:</h4><a href="https://console.cloud.google.com/storage/browser/transcrib_bucket/Lease_docs" target="_blank">Click here to upload files</a>
        <h4>Sheets:</h4><a href="https://docs.google.com/spreadsheets/d/1gHxm5y-ej0z1f6yZQWAJFt9uocJ41BTAgA_0d81NT4A/edit?usp=sharing" target="_blank">See details here</a>
        </br><!-- blank line -->
        </br>
        <form action="/forward/" method="post">
        <button name="forwardBtn" type="submit">Update</button>
        </form>

    </main>

    <footer></footer>


</body>
</html>